@media (max-width:1800px) {
    .head_left > li > a {
        font-size: 16px;
        gap: 10px;
    }
    .upper_middle > h1 {
        transform: translateX(30px);
    }
    .big_text > p {
        font-size: 80px;
        line-height: 160px;
    }
    .main2 > .price_box,
    .main2 > .price_box > img,
    .main3 > div > figure >img,
    .main3 > div > div > div {
        width: 450px;
    }
    footer > div {        
        gap: 100px;
    }
    footer > div > div > h3 {
        font-size: 24px;
    }
    .plus_freind {
        font-size: 20px;
    }
    footer > div > div > p,
    footer > div > div > div > a,
    footer > div > div > div > p {
        font-size: 16px;
    }
    footer > div > div > div > a::after {
        width: 250px;
    }
} 
@media (max-width:1600px) {
    .head_left > li > a {
        font-size: 14px;
    }
    .upper_middle > h1 {
        font-size: 35px;
    }
    .head_right > li > a > i {
        font-size: 24px;
    }
    .main2 > .price_box,
    .main2 > .price_box > img {
        width: 400px;
    }
    .main3 > div > div > div > h3 {
        font-size: 40px;
    }
    .main3 > div > div > div > p {
        font-size: 16px;
    }    
    .main4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    footer > div > div > div > a::after {
        width: 200px;
    }
    .guide {
        margin-right: 0;
    }
} 
@media (max-width:1400px) {
    .head_left > li > a {
        font-size: 12px;
    }
    .upper_middle > h1 {
        transform: translateX(50px);
    }
    .main2 > .price_box,
    .main2 > .price_box > img {
        width: 350px;
    }
    .main3 > div,
    .main3 > div > figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main3_text > div {
        order: -1;
    }
    .main3 > div > figure > img, 
    .main3 > div > div > div {
        width: 800px;
        margin: 0;
    }
    .main3 > div > div > div > h3{
        font-size: 60px
    }
    .main3 > div > div > div > p {
        font-size: 24px;
        line-height: 45px;
    }
    .main3 > div > div {
        height: 300px
    }
    footer > div > div > div > a::after {
        width: 200px;
    }
}
@media (max-width:1200px) {      
    .head_box {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .upper_middle {
        transform: translateX(-40px);
    }
    footer > div {   
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:1000px) {
    .head_left > li > a {
        font-size: 10px;
    }
    .upper_middle {
        margin: 0;
        padding: 0;
    }
    .main2 {
        display: flex;
        flex-wrap: wrap;
    }
    .big_text > p {
        margin: 0;
        font-size: 60px;
        line-height: 120px;
    }
    .big_text > p > span {
        padding: 15px 50px;
    }
    .price_box > p {
        font-size: 16px;
    }
    .price_box > span {
        font-size: 12px;
    }
}
@media (max-width:800px) {
    .main1 > .main1_text > h2 {
        font-size: 40px;
    }
    .main1 > .main1_text > p {
        font-size: 16px;
    }
    .big_text > p {
        font-size: 40px;
        line-height: 80px;
    }
    .big_text > p > span {
        padding: 10px 40px;
    }
    .main2 {
        display: flex;
        flex-direction: column;
    } 
    .main2 > .price_box,
    .main2 > .price_box > img,
    .main3 > div > figure > img {
        width: 100%;
    }
    .main3 > div > figure > img, 
    .main3 > div > div > div {
        width: 100%;
    }
    .main3 > div > div > div > h3{
        font-size: 50px;
        width: 100%;
    }
    .main3 > div > div > div > p {
        font-size: 20px;
        line-height: 36px;
    }
    .circle {
        width: 140px;
        height: 140px;
    }
}
@media (max-width: 600px) {
    .main3 > div > div > div > h3 {
        font-size: 30px;
    }
    .main3 > div > div > div > p {
        font-size: 16px;
    }
    .main5 > div > h2 {
        font-size: 50px;
    }
    .main5 > div > p {
        font-size: 15px;
    }
    footer > h2 {
        font-size: 50px;
    }
    footer >div > div > h3 {
        font-size: 22px;
    }
}
@media (max-width:500px) {
    .main1 > div {
        transform: translateX(-40px);
    }
    .main1 > .main1_text > h2 {
        font-size: 32px;
    }
    .main1 > .main1_text > p {
        font-size: 12px;
    }
    .main3 > div > div > div > h3 {
        font-size: 28px;
    }
    .main3 > div > div > div > p {
        font-size: 12px;
    }
    .big_text > p {
        font-size: 30px;
    }
    footer {
        padding: 10px;
    }
    footer > h2 {
        font-size: 50px;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
}
@media (max-width:400px) {
    .main5 > div > h2 {
        font-size: 40px;
    }
    .main5 > div > p {
        font-size: 12px;
    }    
    .main1 > .main1_text > h2 {
        font-size: 24px;
        line-height: 48px;
    }
    .main1 > .main1_text > p {
        font-size: 12px;
    }
    .main3_text2 > div > div > p > br {
        display: none;
    }
    footer > h2 {
        font-size: 40px;
    }
    footer >div > div > h3 {
        font-size: 20px;
    }
}