@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Paperozi_400';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Cafe24ClassicType';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

body {
    position: relative;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}
.upper {
    background-color: rgb(195, 14, 14);
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;    
}
.upper > a {
    color: #fff;
    font-size: 16px;
    
}
.head_box {
    justify-content: space-between;
    padding: 28px 60px;
    line-height: 45px;    
}
.head_box,
.head_left,
.head_right {
    display: flex;
}
.head_left {
    gap: 24px;
}
.head_left > li > a {
    color: rgb(185, 12, 12);
    font-family: 'Paperozi';    
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
}
.head_left li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(185, 12, 12);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.head_left li > a:hover::after {
    transform: scaleX(1);
}
.upper_middle {
    transform: translateX(-160px);
    display: flex;
    align-items: center;
}
.upper_middle > h1 {
    color: rgb(212, 6, 6);
    font-family: 'Cafe24ClassicType';
    font-size: 40px;
    font-weight: 700;
}
.head_right > li > a > i {
    color: rgb(212, 6, 6);
    padding: 0 10px;
}
.left_bottom_btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
}
.left_bottom_btn > div {
    padding: 22px 16px;
    background-color: rgb(167, 36, 36);
    border-radius: 50%;
    /* margin: 4px 0; */
}
.left_bottom_btn > div:first-child {
    margin-bottom: 8px;
}
.left_bottom_btn > div > a {
    margin: 0;
    color: #fff;
    font-family: 'Paperozi';
    font-size: 14px;
}
.left_bottom_btn > div > a > i {
    transform: translateX(8px);
}
.pattern {
    padding: 0;
    margin: 0;
}
.pattern > div {
    background-color: rgb(167, 36, 36);    
    width: 30px;
    height: 36px;
    border-end-end-radius: 500px;
    transform: translate(40px,-1px);
    margin: 0;
    position: fixed;
    bottom: 45px;
    right: 90px;
    z-index: -98;
}
main {
    background-color: rgb(244, 241, 234);
    z-index: -99;
}
.main1 {    
    background-image: url(../img/main_img/메인배경.png);
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
}
.main1 > .main1_text {
    position: absolute;
    top: 220px;
    left: 80px;
}
.main1 > .main1_text > h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -3px;
}
.main1 > .main1_text > p {
    color: #fff;
    font-size: 19px;
    margin-top: 50px;    
    font-weight: 400;
    letter-spacing: -1px;
}
.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 40px;
}
.main2 > div > img,
.price_box {
    width: 530px;
}
.price_box {
    align-items: center;
}
.price_box > p {
    color: #d32020;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 16px 0;
}
.price_box > span {
    color: #d32020;
    font-weight: 700;
    font-family: 'GMarketSans';
    margin-right: 10px;
    
}
.price_box >:nth-child(4) {    
    text-decoration: line-through solid 2px;
    opacity: 0.5;
}
.price_box > div {
    width: 80px;
    height: 24px;
    line-height: 26px;
    padding: 4px;
    border: solid 1px #d02626;
    border-radius: 32px;
    color: #d02626;
    margin-top: 16px;
}
.price_box > div > p {
    transform: translateX(10px);
    font-size: 14px;
    font-family: 'GMarketSans';
}
img {
    display: block;
}
.main3 {
    width: 100%;    
    overflow-x: hidden;

}
.main3 > p {
    color: #d02626;
    font-size: 160px;
    font-family: 'GMarketSans';
    width: max-content;
    animation: roll_text 180s infinite linear;
    margin: 200px 0;
}
 @keyframes roll_text {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }

.main3 > div {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main3 > div > figure {
    display: flex;
    gap: 20px;
}
.main3 > div > figure >img,
.main3 > div > div > div {
    width: 540px;
}

.main3 > div > div > div {
    margin-top: 100px;
}
.main3 > div > div > div > h3 {
    font-size: 54px;
    color: #c02727;
    font-weight: 700;
    padding-bottom: 20px;
}
.main3 > div > div > div > p {
    font-size: 17px;
    line-height: 26px;
    color: #c02727;
}
.viewmore > a,
.viewmore > a > p {
    transform: translateY(80px);
}
.viewmore {
    display: block;
}
.viewmore > button {
    /* display: block; */
    border: solid 1px #a71f1f;
    border-radius: 40px;
    width: 160px;
    font-size: 18px;
    padding: 14px 8px;
    font-weight: 700;
    background-color: transparent;
    color: #a22424;
    /* transform: translateY(100px); */
    transition: 0.5s;  
}
.viewmore > button:hover {    
    background-color: #a71f1f;
    border: 1px solid #fff;
    color: #fff;
}
.main3_text2 {
    padding-top: 50px;
}
.main4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 200px 0;
}

.big_text > p {
    font-size: 100px;
    color: #be3030;
    line-height: 150px;
    font-family: 'GMarketSans';
    letter-spacing: -3px;
}
.big_text > p > span {
    border: 2px solid#be3030;
    padding: 20px 80px;
    border-radius: 100px;   
}
 .windmeal_cirlce {
    animation: rotate 6s linear infinite;   
    padding: 100px;
    position: relative;
}
 .circle { 
    position: absolute;
    width: 160px;
    height: 160px;
    background: #a22424;
    border-radius: 50%;
    margin: 0;
    overflow: hidden;    
}
.circle:nth-child(1) {
    transform: translate(-90%,-90%)
}
.circle:nth-child(2) {
    transform: translate(0,-90%)
}
.circle:nth-child(3) {
    transform: translate(-90%,0)
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.main5 {
    background: url(../img/main_img/마지막배경.png);
    width: 100%;
    height: 700px;       
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main5 > div {
    padding-top: 200px ;
}
.main5 > div,
.main5 > a  {
    color: #fff;
}
.main5 > div > h2 {
    font-size: 60px;
    font-weight: 600;
}
.main5 > div > p {
    padding: 40px 0 100px;
    font-size: 18px;
    line-height: 30px;
}
.main5 > a {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 800;
    transition: 0.3s;
    width: 140px;
}
.main5 > a:hover {
    background-color: #fff;
    color: #a22424;
}
footer {
    margin: 0;
    padding: 80px;
    height: 100%;
    background-color: #c11313;
    align-items: center; 
}
footer > h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'Cafe24ClassicType';
    margin-bottom: 80px;
}
footer > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;    
    gap: 180px;
}
footer > div > div {
    color: #fff;
}
footer > div > div > h3 {
    font-size: 28px;
    font-family: 'Paperozi';
}
footer > div > div > h3,
footer > div > div > p,
.contact_us > div > p:nth-child(2) {
    padding-bottom: 24px;
}
.contact_us > div > p:nth-child(1) {
    padding-bottom: 10px;
}
footer > div > div > p,
footer > div > div > div > a,
footer > div > div > div > p {
    color: #fff;
    font-size: 16px;
    font-family: 'Paperozi_400';
    font-weight: 400;
    line-height: 32px;
}
footer > div > div > div > a {
    display: block;
    padding: 10px 0;
    width: 200px;
    position: relative;
}
footer > div > div > div > a:first-child {
    padding-top: 0;
}
footer > div > div > div > a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 1px;
    width: 300px;
    background-color: #fff;
}
.guide {
    margin-right: 100px;
}
.plus_freind {
    font-size: 24px;
}